from sqlmodel import SQLModel, Field, Relationship

###{{ "#" * model|length }}####
## {{ model|title }}s ##
###{{ "#" * model|length }}####


class {{ model|title }}Base(SQLModel):
    name: str = Field(index=True)


class {{ model|title }}({{ model|title }}Base, table=True):
    id: int | None = Field(default=None, primary_key=True)


class {{ model|title }}Public({{ model|title }}Base):
    id: int


class {{ model|title }}Create({{ model|title }}Base):
    pass


class {{ model|title }}Update({{ model|title }}Base):
    name: str | None = None
